body {
    background-color: #e9f7ef;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: screen;
}

.glass-card {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 20px 50px rgba(0, 70, 40, 0.05);
    border: 6px solid white;
    border-radius: 2.5rem;
    padding: 2.5rem;
    width: 100%;
    max-width: 24rem; 
    text-align: center;
}

#health-inner {
    transition: width 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}